/* General reset */
body{
	margin:0;
	color:#000;
	font:11px Arial, Helvetica, sans-serif;
	background:#fff;
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#353b3d;
}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	font:11px Arial, Helvetica, Arial, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
/* General settings */
/* wrapper */
#wrapper{
	width:966px;
	margin:0 auto;
}
/* header */
#header{
	height:1%;
	padding:15px 0 0 20px;
	min-height:33px;
}
* html #header{height:33px;}
#header:after{
	display:block;
	clear:both;
	content:"";
}
#header h1{
	margin:0;
	font-size:16px;
	color:#358ac5;
	float:left;
}
.header-block{
	width:676px;
	height:40px;
	float:right;
	margin:3px 0 -10px;
	padding:0 42px 0 0;
	position:relative;
	z-index:10;
}
/* nav */
#nav{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	line-height:33px;
}
#nav li{float:left;}
#nav a{
	width:99px;
	height:40px;
	background:url(../images/bg-text-nav.gif) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	position:relative;
}
#nav .today{
	width:81px;
	background-position:-99px 0;
}
#nav .tomorrow{background-position:-180px 0;}
#nav .week{
	width:69px;
	background-position:-279px 0;
}
#nav .month{
	width:74px;
	background-position:-348px 0;
}
#nav a:hover{background-position:0 -40px;}
#nav .today:hover{background-position:-99px -40px;}
#nav .tomorrow:hover{background-position:-180px -40px;}
#nav .week:hover{background-position:-279px -40px;}
#nav .month:hover{background-position:-348px -40px;}
#nav .active a{
	height:43px;
	width:107px;
	margin:-3px -4px -14px;
	background:url(../images/bg-text-nav-active.gif) no-repeat !important;
	position:relative;
	z-index:15;
}
#nav .active .yesterday{height:57px;}
#nav .active .today{
	width:89px;
	background:url(../images/bg-text-nav-active.gif) no-repeat -107px 0 !important;
}
#nav .active .tomorrow{background:url(../images/bg-text-nav-active.gif) no-repeat -196px 0 !important;}
#nav .active .week{
	width:77px;
	background:url(../images/bg-text-nav-active.gif) no-repeat -303px 0 !important;
}
#nav .active .month{
	width:83px;
	background:url(../images/bg-text-nav-active.gif) no-repeat -380px 0 !important;
}
.add-nav{
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
	float:right;
}
.add-nav li{
	float:left;
	background:url(../images/separator-add-nav.gif) no-repeat 0 3px;
	margin:0 1px 0 -1px;
	padding:0 3px 0 6px;
}
.add-nav a{color:#358ac5;}
/* main */
#main{
	height:1%;
	overflow:hidden;
	padding:0 0 30px;
}
/* sidebar */
#sidebar{	
	width:248px;
	float:left;
}
.sidebar-box{background:#7a6fb5;}
.sidebar-holder{background:url(../images/bg-sidebar.gif) no-repeat;}
.sidebar-frame{
	background:url(../images/bg-sidebar.gif) no-repeat -248px 100%;
	padding:12px 0 47px 8px;
	margin-right:-15px;
}
.sidebar-container{
	width:255px;
	background:url(../images/bg-sidebar-container2.gif) repeat-y 0 7px;
	margin-right:-20px;
	position:relative;
}
.sidebar-container .holder{background:url(../images/bg-sidebar-container.gif) no-repeat;}
.sidebar-container .frame{
	background:url(../images/bg-sidebar-container.gif) no-repeat -255px 100%;
	padding:9px 52px 10px 10px;
	margin-right:-15px;
}
.sidebar-frame .date{
	overflow:hidden;
	width:230px;/*213px;*/
	padding:0 0 8px 11px;
}
.sidebar-frame .date em{
	font-style:normal;
	color:#fff;
	font-size:13px;
	font-weight:bold;
	line-height:23px;
}
.sidebar-frame .date ul{
	list-style:none;
	margin:0;
	padding:0;
	float:right;
}
.sidebar-frame .date li{float:left;}
.sidebar-frame .date .prev,
.sidebar-frame .date .next{
	width:26px;
	height:23px;
	background:url(../images/arrow-date.gif) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
}
.sidebar-frame .date .next{background:url(../images/arrow-date.gif) no-repeat 0 -23px;}
.optimizer-box{margin:0 0 1px -3px;}
.optimizer-box h2{
	margin:0 -1px 0 0;
	font-size:14px;
	color:#fff;
	background:url(../images/bg-optimizer.gif) no-repeat;
	height:22px;
	line-height:22px;
	padding-left:17px;
}
.optimizer-box img{display:block;}
.choice-form{
	background:url(../images/bg-choice-form.gif) repeat-x;
	height:19px;
	padding:4px 0 0 23px;
	margin:0 0 1px -3px;
}
.choice-form .radio{
	padding:0;
	margin:0 2px 0 0;
	width:16px;
	height:15px;
	float:left;
}
.choice-form label{
	color:#3c3434;
	padding:1px 0 0;
	float:left;
	margin:0 16px 0 0;
}
.grade-box{
	background:url(../images/bg-grade-box.gif) repeat-x;
	padding:11px 4px 15px 11px;
	line-height:16px;
	margin:0 0 0 -3px;
}
.grade-box img{
	float:left;
	margin:2px 6px 3px 0;
}
.grade-box p{margin:0;}

.messages-holder{
	width:100%;
	margin:0 0 22px;
}
#sidebar h3
{
	margin:0 0 6px;
	font-size:12px;
	font-weight:bold;
	color:#312b01;
	background:#ffea94;
	line-height:16px;
	text-align:center;
	width:207px;
}
#sidebar .tracker-box h3{margin:0 0 16px -5px;}
#sidebar .list-box h3{margin:0 0 11px;}
.messages-box{
	overflow:hidden;
	background:#fafcfe url(../images/bg-messages-box.gif) repeat-x 0 100%;
	padding:5px 0 11px 2px;
	margin:0 0 1px;
}
.messages-holder .colored{
	background:#f4f4f4 url(../images/bg-messages-box2.gif) repeat-x 0 100%;
	padding:7px 0 12px 2px;
}
.image-holder{
	width:56px;
	float:left;
	font-size:10px;
	color:#696868;
}
.image-holder img{
	display:block;
	margin:5px 0 2px;
}
.messages-box p{margin:0;}
.messages-box a{
	color:#026db7;
	font-weight:bold;
}
.messages-box .text-box{
	overflow:hidden;
	width:134px;
}
.messages-box .text-box strong{display:block;}
.scrollable{
	height:147px;
	overflow:auto;
	width:205px;
}
.vscroll-slider{
	background:#5f8fb1;
	left:2px !important;
	overflow:hidden;
	width:7px !important;
}
.vscroll-bar{width:12px !important;}
.vscroll-line{
	background:#d7ebf3;
	overflow:hidden;
	width:12px !important;
}
.scroll-content{width:212px !important;}
.tracker-box{padding:0 0 0 4px;}
.water-tracker-box{
	overflow:hidden;
	height:1%;
	margin:0 0 23px;
}
.water-tracker-box strong{
	float:left;
	margin:2px 4px 0 0;
}
.water-tracker-box ul{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
}
.water-tracker-box li{
	float:left;
	display:inline;
}
.water-tracker-box .list{padding-right:4px;}
.water-tracker-box .list li{margin:2px 3px 0 0;}
.water-tracker-box .list a{
	width:13px;
	height:13px;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
}
.water-tracker-box .list .more{background:url(../images/ico-more.gif) no-repeat;}
.water-tracker-box .list .less{background:url(../images/ico-less.gif) no-repeat;}
.cups-list li{
	width:13px;
	height:14px;
	background:url(../images/bg-cup.gif) no-repeat 0 -15px;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	padding:1px 0 0 2px;
}
.cups-list .marked{background-position:0 0;}
.tracker-form fieldset{padding-bottom:21px;}
.tracker-form .form-holder{
	height:1%;
	overflow:hidden;
}
.tracker-form .row{
	width:94px;
	padding:0 0 5px 4px;
	float:left;
}
.tracker-form strong{
	display:block;
	margin:0 0 9px;
}
.tracker-form .checkbox,
.list-box form .checkbox{
	padding:0;
	margin:0 6px 0 0;
	width:16px;
	height:15px;
	float:left;
}
.tracker-form label{float:left;}
.list-box{width:100%;}
.list-box form{padding:0 0 0 1px;}
.list-box form .row{
	margin:0 0 7px;
	overflow:hidden;
	height:1%;
}
.list-box form label{
	line-height:12px;
	width:185px;
	float:left;
}
/* twocolumns */
#twocolumns{
	width:728px;
	float:left;
	margin-left:-11px;
}
/* content */
#content{
	width:666px;
	float:left;
}
.content-frame{
	padding:22px 29px 73px 42px;
	position:relative;
	width:595px;
	min-height:856px;
}

.content-myAccount{background:url(../images/bg-content.gif) repeat-y -1332px 0;}
.content-holder-myAccount{background:url(../images/bg-content.gif) no-repeat;}
.content-frame-myAccount{background:url(../images/bg-content.gif) no-repeat -666px 100%;}

.content-eating-journal{background:url(../images/bg-content.gif) repeat-y -1332px 0;}
.content-holder-eating-journal{background:url(../images/bg-content.gif) no-repeat;}
.content-frame-eating-journal{background:url(../images/bg-content.gif) no-repeat -666px 100%;_height:1000px;min-height: 1026px;}

.content-recipe-finder{background:url(../images/bg-content.gif) repeat-y -1332px 0;}
.content-holder-recipe-finder{background:url(../images/bg-content.gif) no-repeat;}
.content-frame-recipe-finder{background:url(../images/bg-content.gif) no-repeat -666px 100%;}

.content-listAll{background:url(../images/bg-content.gif) repeat-y -1332px 0;}
.content-holder-listAll{background:url(../images/bg-content.gif) no-repeat;}
.content-frame-listAll{background:url(../images/bg-content.gif) no-repeat -666px 100%;}

.content-eating-out-advisor{background:url(../images/bg-content.gif) repeat-y -1332px 0;}
.content-holder-eating-out-advisor{background:url(../images/bg-content.gif) no-repeat;}
.content-frame-eating-out-advisor{background:url(../images/bg-content.gif) no-repeat -666px 100%;}

.content-snack-treat-guide{background:url(../images/bg-content.gif) repeat-y -1332px 0;}
.content-holder-snack-treat-guide{background:url(../images/bg-content.gif) no-repeat;}
.content-frame-snack-treat-guide{background:url(../images/bg-content.gif) no-repeat -666px 100%;}

.content-menu-planner{background:url(../images/bg-content.gif) repeat-y -1332px 0;}
.content-holder-menu-planner{background:url(../images/bg-content.gif) no-repeat;}
.content-frame-menu-planner{background:url(../images/bg-content.gif) no-repeat -666px 100%;}

.content-success-journal{background:url(../images/bg-content.gif) repeat-y -1332px 0;}
.content-holder-success-journal{background:url(../images/bg-content.gif) no-repeat;}
.content-frame-success-journal{background:url(../images/bg-content.gif) no-repeat -666px 100%;}


* html .content-frame{height:856px;}
.tools{
	list-style:none;
	margin:0 0 6px;
	padding:0;
	line-height:19px;
	font-size:8px;
	overflow:hidden;
	width:100%;
}
.tools li{
	float:right;
	margin:0 0 0 23px;
}
.tools a{
	color:#7a6fb5;
	display:block;
	padding:0 0 0 22px;
}
.tools .print{background:url(../images/ico-print.gif) no-repeat;}
.tools .save{background:url(../images/ico-save.gif) no-repeat;}
.links-block{
	background:#95c3e1;
	line-height:37px;
	font-size:16px;
	font-weight:bold;
	padding:0 32px 0 7px;
	height:38px;
	overflow:hidden;
}
.links-block a{color:#fff;}
.links-block .add{
	float:right;
	background:url(../images/ico-add.gif) no-repeat;
	padding:0 0 0 59px;
}
.links-block .journal{
	background:url(../images/ico-eating.gif) no-repeat 0 7px;
	padding:0 0 0 31px;
	float:left;
}
.schedule-block{
	padding:4px 0 0;
	color:#1f1e1e;
	background:url(../images/bg-content-border.gif) repeat-x;
}
.schedule-box{
	width:593px;
	position:relative;
	background:url(../images/bg-content-border.gif) repeat-x 0 100%;
	padding:0 0 4px;
	margin:0 0 1px;
}
.schedule-box .holder{
	background:url(../images/bg-schedule-box.gif) repeat-y;
	display:table;
	width:593px;
}
.schedule-block .sub2 .holder{background:#f5fafd url(../images/bg-schedule-box2.gif) repeat-x;}
.schedule-block .sub3 .holder{background:#f5fafd url(../images/bg-schedule-box3.gif) repeat-y;}
.schedule-block .sub5 .holder{background:#f5fafd url(../images/bg-schedule-box4.gif);}
.schedule-block .sub3 .box{
	padding:10px 0 0 21px;
	font-size:12px;
	height:20px;
	overflow:hidden;
}

.schedule-block .sub3 .box img{
	float:left;
	margin-right:11px;
}
.schedule-block .sub3 .box strong{float:left;}
.schedule-block .sub{z-index:1;}
.schedule-block .colored{
	display:table;
	background:#d5d6d7;
	float:left;
}
.schedule-block .block{
	display:table-cell;
	vertical-align:middle;
	width:370px;
}
.schedule-block .problem-box .block{width:506px;}
.schedule-block .block div span{
	font-size:14px;
	color:#767676;
	float:left;
	background:url(../images/bg-enter.png);
	font-weight:bold;
	padding:0 11px;
	height:24px;
	line-height:24px;
	margin-left:95px;
	display:inline;
}
.problem-box{
	background:url(../images/bg-problem-box.gif);
	width:506px;
	height:47px;
	position:absolute;
	right:0;
	top:1px;
	z-index:100;
	display:table;
}
.problem-box .block{
	display:table-cell;
	vertical-align:middle;
}
.problem-box .block img{
	display:block;
	margin:0 auto;
}
.hours-box,.hoursall-box{
	width:65px;
	padding:4px 10px 3px;
	display:table-cell;
	vertical-align:middle;
}
.hours-box .choice-box,.hoursall-box .choice-box{
	position:relative;
	top:-25px;
}
.hours-box .choice-box a,.hoursall-box .choice-box a{
	position:absolute;
	left:21px;
	top:0;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/arrow-up.gif) no-repeat;
	height:6px;
	width:12px;
}
.hours-box .choice-box .down,.hoursall-box .choice-box .down{
	background:url(../images/arrow-down.gif) no-repeat;
	top:33px;
}
.hours-box .choice-box span,.hoursall-box .choice-box span{
	position:absolute;
	left:0;
	top:8px;
	background:url(../images/bg-choice-box.gif) no-repeat;
	height:23px;
	line-height:23px;
	width:57px;
	text-align:center;
}
.hours-box-holder{
	width:584px;
	margin-right:-520px;
	position:relative;
}
.hours-box span{
	font-size:12px;
	font-weight:bold;
}
.edit-box{
	position:absolute;
	right:-3px;
	top:0;
	height:27px;
	z-index:100;
	line-height:23px;
	color:#1f1e1e;
	font-size:10px;
	font-weight:bold;
	display:none;
}
.sub5 .edit-box{right:110px;}
/*.schedule-block div:hover .edit-box,
.schedule-block div.hover .edit-box,
#addMeal .content div:hover .edit-box,
#addMeal .content div.hover .edit-box
.schedule-block div.hover .edit-box
{
	display:block;
}*/
.edit-box .l,
.edit-box .r{
	width:15px;
	height:100%;
	background:url(../images/bg-edit-l.png) no-repeat;
	float:left;
}
.edit-box .r{background:url(../images/bg-edit-r.png) no-repeat;}
.edit-box .c{
	float:left;
	background:url(../images/bg-edit-c.png) repeat-x;
	height:100%;
}
.edit-box span{
	float:left;
	padding-right:10px;
}
.edit-box ul{
	margin:0 0 0 -10px;
	padding:4px 0 0;
	list-style:none;
	overflow:hidden;
	float:left;
	line-height:16px;
}
.edit-box ul li{
	float:left;
	background:url(../images/separator-edit-box.gif) no-repeat;
	padding:0 10px 0 11px;
	margin:0 1px 0 -1px;
}
.edit-box a{
	float:left;
	height:16px;
	padding-left:20px;
	position:relative;
}
.edit-box .edit{background:url(../images/ico-edit.gif) no-repeat;}
.edit-box .editWaketime{background:url(../images/ico-edit.gif) no-repeat;}
.edit-box .editBedtime{background:url(../images/ico-edit.gif) no-repeat;}
.edit-box .editSleeptime{background:url(../images/ico-edit.gif) no-repeat;}
.edit-box .editJournal{background:url(../images/ico-edit.gif) no-repeat;}
.edit-box .delete{background:url(../images/ico-delete.gif) no-repeat 0 3px;}
.edit-box .share{background:url(../images/ico-share.gif) no-repeat;}
.edit-box .ate{background:url(../images/ico-ate.gif) no-repeat;}
.edit-box .skipped,.edit-box .skip{background:url(../images/ico-skipped.gif) no-repeat 0 1px;}
.edit-box .share{background:url(../images/recipy-share-icon.gif) no-repeat 0 1px;}
.edit-box .add{background:url(../images/ico-add2.gif) no-repeat 0 1px;}
* html .hours-box,
* html .image-box,
* html .status-box,
* html .info-box,
* html .schedule-block .block,
* html .problem-box .block{float:left;}
*+html .hours-box,
*+html .image-box,
*+html .status-box,
*+html .info-box,
*+html .schedule-block .block,
*+html .problem-box .block,
*+html .tabs-holder .tabset li span{float:left;}
.image-box
{
	width:107px;
	display:table-cell;
	vertical-align:middle;
	padding:0 15px 0 0;
	vertical-align:top;
}
.image-box .upload{
	display:block;
	background:#fff url(../images/bg-upload.gif) no-repeat 1px 1px;
	padding-left:25px;
	height:20px;
	line-height:20px;
	margin:1px 0 -22px;
	position:relative;
	float:left;
	width:82px;
}
.image-box img{
	display:block;
	margin:0 auto;
}
.schedule-block .sub5 .image-box img{float:left;}

#addMeal .image-box img,
#addExercise .image-box img,
#addSnack .image-box img{
	float:left;
	position:relative;
}
.sub2 .image-box img{float:left;}
.image-box #mealType { /*span{*/
	display:block;
	background:#358ac5;
	padding:1px 0 2px;
	font-size:12px;
	line-height:13px;
	font-weight:bold;
	color:#fff;
	text-align:center;
}
.sub5 .image-box strong
	{background:#767676;}
.schedule-box .info-box{
	width:260px;
	float:left;
	font-size:13px;
	font-weight:bold;
	padding:9px 0 0;
	line-height:17px;
}
.schedule-box .sub4{
	line-height:48px;
	padding:0 0 0 11px;
}
.schedule-box .info-box p{margin:0;}
.schedule-box .info-box ul{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
}
.status-box{
	width:118px;
	display:table-cell;
	vertical-align:middle;
}
.status-box img{
	display:block;
	margin:0 auto;
}
/* side-nav */
.side-nav{
	width:62px;
	float:right;
	list-style:none;
	margin:26px 0 0;
	padding:0;
}
.side-nav a{
	width:62px;
	background:url(../images/bg-text-side-nav.jpg) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
}
.side-nav .journal{height:97px;}
.side-nav .recipe{
	height:101px;
	background-position:0 -97px;
}
.side-nav .advisor{
	height:100px;
	background-position:0 -198px;
}
.side-nav .snack{
	height:101px;
	background-position:0 -298px;
}
.side-nav .planner{
	height:103px;
	background-position:0 -399px;
}
.side-nav .success{
	height:103px;
	background-position:0 -502px;
}
.side-nav a:hover{background-position:-62px 0;}
.side-nav .recipe:hover{background-position:-62px -97px;}
.side-nav .advisor:hover{background-position:-62px -198px;}
.side-nav .snack:hover{background-position:-62px -298px;}
.side-nav .planner:hover{background-position:-62px -399px;}
.side-nav .success:hover{background-position:-62px -502px;}
.side-nav .active a{background-position:-124px 0 !important;}
.side-nav .active .recipe{background-position:-124px -97px !important;}
.side-nav .active .advisor{background-position:-124px -198px !important;}
.side-nav .active .snack{background-position:-124px -298px !important;}
.side-nav .active .planner{background-position:-124px -399px !important;}
.side-nav .active .success{background-position:-124px -502px !important;}
/* popup */
#addMeal .b,
#addExercise .b,
#addSnack .b{
	background:url(../images/bg-popup-b.png) no-repeat;
	height:25px;
}
#addMeal .center,
/*#addExercise .center,*/
#addSnack .center{
	background:url(../images/bg-popup-c.png) repeat-y;
	height:1%;
	padding:0 9px 0 30px;
}
#addMeal .center:after,
/*#addExercise .center:after,*/
#addSnack .center:after{
	clear:both;
	display:block;
	content:"";
}
#addMeal .schedule-box .holder,
/*#addExercise .schedule-box .holder,*/
#addSnack .schedule-box .holder
	{background:#e1f1f9;}
/*#addMeal .heading{
	width:553px;
	overflow:hidden;
	padding-bottom:9px;
}
#addMeal .heading .close{
	float:right;
	height:28px;
	line-height:28px;
	background:url(../images/ico-close.gif) no-repeat 100% 0;
	padding-right:33px;
	color:#728491;
	font-weight:bold;
	font-size:12px;
}
#addMeal .heading h2{
	margin:14px 0 0 2px;
	font-size:18px;
	float:left;
	display:inline;
}
*/
/*
#addMeal .search-form fieldset{
	width:548px;
	overflow:hidden;
	/*padding-bottom:20px;*/
	padding:10px 0px 10px 0px;
}
#addMeal .search-form .text{
	background:url(../images/bg-text.gif) no-repeat;
	float:left;
}
#addMeal .search-form .text input{
	border:none;
	background:none;
	padding:4px 5px;
	width:402px;
	font-size:14px;
	color:#535252;
	float:left;
}
#addMeal .search-form .submit,
.tabs-holder .tab-content .submit{
	border:none;
	color:#fff;
	padding:0 0 2px;
	width:121px;
	height:24px;
	font-size:15px;
	font-weight:bold;
	cursor:pointer;
	float:right;
}
*/
.tabs-holder .tab-content .submit{
	background:url(../images/btn-add.gif) no-repeat;
	width:182px;
}
#addMeal .schedule-box, #addExercise .schedule-box, #addSnack .schedule-box {
    background: none repeat scroll 0 0 transparent;
    margin-left: -22px;
    /*padding-bottom: 20px;*/
}
#addMeal .hours-box,
#addExercise .hours-box,
#addSnack .hours-box
	{padding:0 15px 0 5px;}
/* tabs-holder */
.tabs-holder{
	border-bottom:1px solid #fff;
	width:550px;
}
.tabs-holder .tabset {
    font-size: 11px;
    font-weight: bold;
    height: 1%;
    list-style: none outside none;
    margin: 0 -2px -1px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 552px;
}
.tabs-holder .tabset li {
    background: url("../images/bg-tabset.gif") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 28px;
    margin: 0 -2px 0 2px;
    padding-right: 2px;
    position: relative;
    width: 136px;
}
.tabs-holder .tabset li div{
	display:table;
	height:100%;
	width:100%;
}
.tabs-holder .tabset li span{
	display:table-cell;
	vertical-align:middle;
	padding:0 16px;
}
* html .tabs-holder .tabset li span{display:block;}
.tabs-holder .tabset a{color:#485259;}
.tabs-holder .tabset li:hover,
.tabs-holder .tabset li.hover,
.tabs-holder .tabset .active{
	background-position:0 -37px;
	cursor:pointer;
}
.tabs-holder .tabset li:hover a,
.tabs-holder .tabset li.hover a,
.tabs-holder .tabset .active a{
	text-decoration:none;
	color:#000;
}
.tabs-holder .tab-content {
    background: url("../images/bg-tabs-holder.jpg") no-repeat scroll 0 100% #FFFFFF;
    border: 1px solid #A8ACAD;
    font-size: 12px;
    padding: 10px 0 10px 30px;
}
.tabs-holder .tab-content .columns-holder {
    margin-left: -15px;
    margin-right: -150px;
    overflow: hidden;
    /*padding-bottom: 46px;*/
    width: 560px;
}
.tabs-holder .tab-content .column {
    float: left;
    line-height: 21px;
    margin-bottom: 10px;
    padding-right: 10px;
    width: 265px;
}
/*.tabs-holder .tab-content .short{width:165px;}*/
.tabs-holder .tab-content .column h3 {
    color: #C94A0B;
    font-size: 13px;
    margin: 0;
}
.tabs-holder .tab-content .column p{margin:0;}
.tabs-holder .tab-content .row{
	height:1%;
	overflow:hidden;
}
.tabs-holder .tab-content .radio{
	margin:4px 4px 0 0;
	height:15px;
	width:16px;
	padding:0;
	float:left;
}
.tabs-holder .tab-content label{
	float:left;
	color:#024b7d;
	text-decoration:underline;
	width:200px;
}
.tabs-holder .tab-content label:hover,
.tabs-holder .tab-content label.hover{cursor:pointer;}
.tabs-holder .tab-content a{
	text-decoration:underline;
	color:#024b7d;
}
.tabs-holder .tab-content a:hover{}
.tabs-holder .tab-content .buttons-holder{margin-left:-19px;}
.tabs-holder .buttons-holder .frame{
	position:relative;
	background:url(../images/bg-buttons-holder.png);
	padding:10px 6px 12px 14px;
	width:504px;
	font-size:12px;
	overflow:hidden;
	font-weight:bold;
}
.tabs-holder .tab-content .buttons-holder a{
	float:left;
	color:#fff;
	text-decoration:none;
	height:24px;
	line-height:24px;
	background:url(../images/bg-link.gif) no-repeat;
	cursor:pointer;
	margin-right:8px;
	position:relative;
}
.tabs-holder .tab-content .buttons-holder a span{
	background:url(../images/bg-link.gif) no-repeat 100% 100%;
	height:24px;
	padding:0 10px;
	float:left;
}
.tabs-holder .tab-content .buttons-holder a:hover{text-decoration:underline;}
.copyright{
	float:right;
	color:#767676;
	margin:-23px 68px 20px 0;
}
/*------------------------------- CSS For RF-1 Update ----------------------------*/
.grade-box-up { background:none;}
.food-lover-branding { margin-bottom:15px; clear:both; display:block; text-align:center;}
.flat-burning-zone { height:153px; display:block; clear:both;}
.my-feedback { clear:both; text-align:center; display:block; margin-bottom:20px;}
.atchemy-banner { width:607px; height:84px; background:#b6b6b6; line-height:84px; text-align:center; color:#fff; font-size:14px;}


/*---------------- CSS For Calender --------------*/
.calendar-user { clear:both; display:block; margin-bottom:15px;}
.steping-calender { float:left; height:18px; padding:3px 7px 0 0; border-right:1px solid #d9d9d9; }
a.calender-prev { float:left; height:15px; width:15px; background:url(../images/calender-icon.gif) no-repeat left top; display:block;}
a.calander-next { float:left; height:15px; width:15px; background:url(../images/calender-icon-right.gif) no-repeat left top; display:block;}
a.calender-prev:hover, a.calander-next:hover { text-decoration:none;}
.staping-calender-text { float:left; padding:0 7px 0 6px; color:#463b80; font-size:14px; line-height:15px; margin:0;}
.jump-to-day { float:left; padding:3px 0 0 9px;}
.quick-jump-link { float:left; height:15px; padding:0 0 0 20px; font-size:9px; width:auto; color:#7a6fb5; font-family:Arial, Helvetica, sans-serif; line-height:14px; background:url(../images/calender-icon-click.gif) no-repeat left top; display:block;}
.content-frame
{width:608px; padding:22px 16px 73px 42px;}
/*----------------- CSS For Fat Burning Chart --------------------*/

#micro-fat-burning { width:207px; margin-bottom:10px;}
#micro-fat-burning .micro-fat-title { margin:0; padding:0; height:28px; overflow:hidden;}
#micro-fat-burning .micro-chart-area { width:207px; overflow:hidden;position: relative; background:url(../images/coach/fat-chart-bg.gif) no-repeat 0 0;}
#micro-fat-burning .micro-chart-bars { position:relative; height:113px; float:left; width:207px; overflow:auto; overflow-y:hidden;}
#micro-fat-burning .micro-chart-unit { float:left; display:inline; margin:0 1px 0 0; width:12px; height:98px; background:url(../images/coach/fat-burning-bar.gif) no-repeat 0 0;}
#micro-fat-burning .fat-bars-holder { width:312px; height:98px;}
#micro-fat-burning .micro-chart-storing { float:left; display:inline; margin:0 1px 0 0; width:12px; height:98px; background:url(../images/coach/fat-storing-bar.gif) no-repeat 0 0;}
#micro-fat-burning .unit-1 { background-position:0 90px;}
#micro-fat-burning .unit-2 { background-position:0 81px;}
#micro-fat-burning .unit-3 { background-position:0 72px;}
#micro-fat-burning .unit-4 { background-position:0 63px;}
#micro-fat-burning .unit-5 { background-position:0 54px;}
#micro-fat-burning .unit-6 { background-position:0 45px;}
#micro-fat-burning .unit-7 { background-position:0 36px;}
#micro-fat-burning .unit-8 { background-position:0 27px;}
#micro-fat-burning .unit-9 { background-position:0 18px;}
#micro-fat-burning .unit-10 { background-position:0 9px;}
#micro-fat-burning .unit-0 { width:12px;background:none;display:inline;float:left;}
.micro-chart-scale { height:12px; width:402px; line-height:0; overflow:hidden; background:url(../images/coach/micro-chart-scale.gif) no-repeat -8px #ffffff; padding:1px 0 0 0; border-top:1px solid #a8c8dd; font-size:0;}
ul.micro-fat-chart-ind { margin:0; padding:9px 0 10px 0; list-style:none; overflow:hidden;}
ul.micro-fat-chart-ind li { display:block; list-style:none; float:left; padding:0 0 0 13px; background:url(../images/coach/fat-burning-indicator.gif) no-repeat left; font-size:8px; color:#000000; text-transform:uppercase;}
ul.micro-fat-chart-ind li.storing-ind { background:url(../images/coach/fat-storing-indicator.gif) no-repeat left; float:right;}

/* METABOLISM */
.metabolism { display:block; width:206px; height:45px; background:url(../images/coach/metabolism.gif) no-repeat top center; margin:0 0 12px 0;}
.metabolism a { display:block; font-size:15px; font-weight:700; color:#ffffff; padding:23px 0 0 9px; height:22px; width:197px;}
.metabolism a:hover { text-decoration:none;}

.sidebar-fat-burning { clear:both; overflow:hidden; display:block; width:206px;}
.sidebar-fat-percent { float:left; display:inline; color:#219200; background:url(../images/coach/left-fat-burning-box.gif) no-repeat center; margin:0 10px 0 0; width:64px; height:65px; padding:10px 0 0 0; line-height:60px; font-size:21px; font-weight:700; text-align:center;}
.sidebar-fat-percent-red { float:left; display:inline; color:#E53500; background:url(../images/coach/left-fat-burning-box-red.gif) no-repeat center; margin:0 10px 0 0; width:64px; height:65px; padding:10px 0 0 0; line-height:60px; font-size:21px; font-weight:700; text-align:center;}
.sidebar-fat-percent-yellow { float:left; display:inline; color:#EBBE0A; background:url(../images/coach/left-fat-burning-box-yellow.gif) no-repeat center; margin:0 10px 0 0; width:64px; height:65px; padding:10px 0 0 0; line-height:60px; font-size:21px; font-weight:700; text-align:center;}
.sidebar-fat-burning p { color:#000000; font-size:11px; line-height:15px; margin:0 0 10px 0;}

/*.side-nav a.flatloss {
height:105px;
width:62px;
background:url(../images/coach/my-flatless-active.gif) no-repeat 0 0 !important;
}*/
.side-nav a.flatloss {
background-position: 0 -608px;
height: 103px;
}

.side-nav .flatloss:hover {
background-position: -62px -608px;
}
.side-nav .active .flatloss{
background-position: -124px -608px;
}


/*---------- New Scale CSS ---------*/

.micro-scale-unit {
	padding:0 0 0 0;
	margin:0;
	list-style:none;
	width:1000px;
}
.micro-scale-unit li {
	float:left;
	display:inline;
	width:13px;
	text-align:center;
	font-size:8px;
	line-height:9px;
	padding:2px 0 0 0;
	visibility:hidden;
	color:#3a759d;
	overflow:hidden;
}
.micro-scale-unit li.show-time {
	visibility:visible;
}

/*-------------------- CSS For Modal Popup ---------------------*/

#addMeal .center-bg, #addSnack .center-bg { display:block; padding:19px 26px 5px 19px; background:url(../images/add-popup-rptr.png) repeat-y right;}
#addMeal .center-bg .schedule-box, #addExercise .center-bg .schedule-box, #addSnack .center-bg .schedule-box {
    margin:0 0 20px 0;
}
#addMeal .center-bg .schedule-box .holder, #addSnack .center-bg .schedule-box .holder {
    background: none;
}
#addMeal .b2, #addExercise .b2, #addSnack .b2 {
    background:url(../images/modal-right-bottom.png) no-repeat right top;
	padding:0 22px 0 0;
	height:38px;
}
.add-popup-bottomleft {
	background:url(../images/modal-bottom-left.png) no-repeat 1px 0;
	padding:0 0 0 17px;
}
.add-popup-bottomleft div {
	background:url(../images/modal-bottom-rptr.png) repeat-x top;
	padding:0;
	display:block;
	height:38px;
}
#foodSearchResults {
	border:1px solid #a8acad;
}
#foodSearchResults table {
	width:520px;
	padding:0 0 0 35px;
}
.foodmade-level { margin:0 0 5px 0; color:#0f3550; font-size:16px; font-weight:700; font-family:Arial, Helvetica, sans-serif;}
.add-brk-modal {
	border:1px solid #dbdfe6;
	border-top:1px solid #abadb3;
	width:464px;
	padding:4px 4px;
	font-size:11px !important;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif !important;
}
#addMeal .hours-box-modal, #addExercise .hours-box .hours-box-modal, #addSnack .hours-box-modal {
	float:left;
	width:70px;
	height:70px;
	padding:0;
	top:0;
}
#foodSearchResults {
	margin:15px 0 0 0;
}
.schedule-box-modal { background:url(../images/modal-line-rptr.gif) repeat-x bottom !important;}
.hours-box .choice-box, .hoursall-box .choice-box {
    position: relative;
    top: 0;
}
.center-bg .image-box .upload { clear:both; float:none; margin:0;}
.schedule-box-modal .image-box {
	display:inline;
	float:left;
}
.hours-box-modal .choice-box a { height:10px; width:18px; background:url(../images/arrow-up-n.gif) no-repeat center;}
.hours-box-modal .choice-box span { top:13px;}
.hours-box-modal .choice-box .down { background:url(../images/arrow-down-n.gif) no-repeat center; top:41px;}
.small-scale .look-control { background:url(../images/add-meal-body-rptr.png) repeat-y right; display:block; padding:40px 20px 15px 20px;}
.b2 {
    background:url(../images/modal-right-bottom.png) no-repeat right top;
	padding:0 22px 0 0;
	height:38px;
}
.small-scale .add-popup-bottomleft { background-position:0 0;}
.select-option { font-weight:700; clear:both; color:#ffffff; font-size:14px; overflow:hidden; font-family:Arial, Helvetica, sans-serif;}
.select-option  .titme-title { float:left;}
.select-opt-bottom {
	padding:25px 0 0 0;
	clear:both;
	position:relative;
	min-height:50px;
}
.select-opt-bottom .hoursall-box {
	float:left;
	display:inline;
	position:absolute;
	top:8px;
}
.display-oneline {
	clear:both;
	display:block;
	overflow:hidden;
	color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 700;
	padding:0 0 15px 0;
	min-height:43px;
}
.display-oneline .titme-title {
	float:left;
	display:inline;
	line-height:45px;
	width:105px;
}
.display-oneline .hoursall-box {
	float:left;
	display:inline;
	top:25px;
}
.display-oneline .hours-box .choice-box span {
    background: url(../images/modal-textbox.gif) no-repeat scroll 0 0 transparent;
    height: 23px;
    left: 0;
    line-height: 23px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 63px;
}
.ui-widget .display-oneline .choice-box span input {
	border:none;
	background:none;
	width:53px;
	padding:1px 2px 2px 2px;
	line-height:inherit;
	text-align:center;
	font-size:11px;
}
.display-oneline .choice-box a {
	background: url(../images/arrow-up-scale.png) no-repeat scroll 0 0 transparent;
    height: 9px;
    left: 19px;
    top: -3px;
    width: 18px;
}
.display-oneline .choice-box a.down {
    background: url(../images/arrow-down-scale.png) no-repeat scroll 0 0 transparent;
    top: 33px;
}
#contentsleeptime {
	padding:25px 0 0 0;
}
.right-align-button {
	overflow:hidden;
	padding:0 7px 0 0;
}
.right-align-button .sexybutton {
	float:right;
}
.text-styler {
	font-size:14px;
	font-weight:700;
	color:#F7F9C8;
	font-family: arial;
	clear:both;
	line-height:22px;
	margin:0 0 15px 0;
	border-bottom:1px solid #F7F9C8;
}
.small-scale  .look-control-bed { padding: 20px 20px 15px;}
.look-control-bed .display-oneline .titme-title { text-align: right;}

/* CSS For alert Box */

.alert-box {
	width:258px;
	background:url(../images/alert-box-bottom.png) no-repeat bottom;
	padding:0 0 16px 0;
	clear:both;
}
.alert-box-rptr {
	padding:17px 24px 1px 16px;
	background:url(../images/alert-box-rptr.png) repeat-y left;
}
.alert-icon-para {
	padding:0 5px 0 35px;
	background:url(../images/alert-box-icon.png) no-repeat left top;
	font-size:14px;
	font-weight:700;
	color:#000000;
	line-height:18px;
	margin:0 0 10px 0;
	clear:both;
}
.alert-buttons {
	clear:both;
	display:block;
	overflow:hidden;
}
.alert-buttons .sexybutton {
	float:right;
}
a.alert-cancel {
	font-size:12px;
	float:right;
	text-decoration:underline;
	color:#000000;
	padding:0 10px;
	line-height:22px;
}
a.alert-cancel:hover {
	text-decoration:none;
}
.text-styler2 {
	border:none;
	margin:0;
	color:#ffffff;
}
.alert-buttons a {
	cursor:pointer;
}
.display-titlee .titme-title {
	line-height:21px;
}

/* paging-holder added by shaiful 24.03.2011 */
.paging-holder{
	float:right;
	padding:0 7px 0 0;
}
.paging-holder .link-prev,
.paging-holder .link-next{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	width:9px;
	height:16px;
	background: url(../images/btns-gallery.gif) no-repeat 0 -96px;
	margin:3px 11px 0 0;
}
.paging-holder .link-next{
	background: url(../images/btns-gallery.gif) no-repeat 0 -77px;
	margin:3px 0 0 3px;
}
.paging-holder ul{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	color:#398ec9;
	font:bold 16px/16px Arial, Helvetica, sans-serif;
}
.paging-holder li{
	float:left;
	margin:0 6px 0 0;
}
.paging-holder a{
	float:left;
	color:#1c5180;
	padding:2px 0 1px;
}
.paging-holder .active{
	padding:2px 10px 1px;
	border:1px solid #1c5180;
	text-decoration:none;
	color:#398ec9;
}
/*** added by shaiful at 21.03.2011 ****/
.paging-holder ul li span{
	padding:2px 10px 1px;
	border:1px solid #1c5180;
	text-decoration:none;
	color:#398ec9;
	outline:none;
	 float: left;
}

.paging-holder strong{
	display:block;
	padding:2px 0 0;
}
.info_title_box
{
	font-size:15px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding:0 0 10px 0;
}
#food_items
{
 font-weight:bold;
}

/* CSS For Close Option */

.messages-box { position:relative;}
.messages-box .text-box { width:120px;}
.messages-box .close-opt { width:16px; height:16px; overflow:hidden; position:absolute; top:-1px; left:177px;}

/**** added by shaiful on 24.03.2011*****/
.how-do-use { height:40px; line-height:40px;}
.how-do-use .about-page {	background:url(../images/bg-how-do-use.gif) no-repeat right center; font-weight:700; float:left; display:block; color:#000000; font-size:12px; padding:0 29px 0 0; width:138px; height:40px;}
.how-do-use a.return-to { color:#FC810A; float:right; font-size:12px; font-weight:bold; margin:0 0 0 0; padding:0;}